<div class="container">
    <div class="card-title">
      <i class="fa fa-arrow-left" style="font-size:20px;cursor: pointer;" routerLink="/emp-asset/list"></i>&nbsp;&nbsp;
      <h4 style="padding:0px !important ;margin:0px !important;font-weight: 600">{{'Go Back'| uppercase}}</h4>
    </div>
  
    <div>
      <mat-tab-group class="remove-border-bottom">
        <mat-tab label="Employee File Detils">
          <div class="card">
            <div class="card-title" style="display: flex;justify-content: center;">
              <h2 style="padding:0px !important ;margin:0px !important;font-weight: 600;color: #a29b9b;">{{'Employee File Details'|
                uppercase}}</h2>
            </div>
  
            <form [formGroup]="personalForm">
  
              <div class="row">
                <div class="section-b col">
                  <mat-label>Employee ID <span class="required">*</span></mat-label>
                  <input class="input" type="text" name="Search" matInput formControlName="empId" maxlength="50" required>
                  <mat-hint class="hintalign">{{personalForm.get('empId').value?.length || 0}}/50
                  </mat-hint>
                  <mat-error *ngIf="submitted && personalForm.get('empId')?.errors?.required">
                    {{'Employee ID is required'}}</mat-error>
                </div>
                <div class="section-b col">
                  <mat-label>Employee Office Code<span class="required">*</span></mat-label>
                  <input class="input" type="text" name="Search" matInput formControlName="empOfcCod" maxlength="50">
                  <mat-hint class="hintalign">{{personalForm.get('empOfcCod').value?.length || 0}}/50
                  </mat-hint>
                  <mat-error *ngIf="submitted && personalForm.get('empOfcCod')?.errors?.required">
                    {{'Employee Office Code is required'}}</mat-error>
                </div>
  
              </div>
              <div class="row">
                <div class="section-b col">
                  <mat-label>Employee Office Name <span class="required">*</span></mat-label>
                  <mat-select formControlName="empOfcName" multiple>
                    <mat-option *ngFor="let row of types" [value]="row">{{row}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && personalForm.get('empOfcName')?.errors?.required">
                    {{'Employee Office Name is required'}}</mat-error>
                </div>
                <div class="section-b col">
                  <mat-label> Employee Name <span class="required">*</span></mat-label>
                  <mat-select formControlName="empName" multiple>
                    <mat-option *ngFor="let row of types" [value]="row">{{row}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && personalForm.get('empName')?.errors?.required">
                    {{'Employee Name is required'}}</mat-error>
                </div>
  
              </div>
              <div class="row">
                <div class="section-b col">
                  <mat-label> Employee Cadre Code <span class="required">*</span></mat-label>
                  <mat-select formControlName="empCadCde" multiple>
                    <mat-option *ngFor="let row of types" [value]="row">{{row}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && personalForm.get('empCadCde')?.errors?.required">
                    {{'Employee Cadre Code is required'}}</mat-error>
                </div>
                <div class="section-b col">
                  <mat-label>Employee Seat No.<span class="required">*</span></mat-label>
                  <mat-select formControlName="empSeatNo" multiple>
                    <mat-option *ngFor="let row of types" [value]="row">{{row}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && personalForm.get('empSeatNo')?.errors?.required">
                    {{'Employee Seat No. is required'}}</mat-error>
                </div>
  
              </div>
              <div class="row">
                <div class="section-b col">
                  <mat-label>Employee File Number<span class="required">*</span></mat-label>
                  <input class="input" type="text" name="Search" matInput formControlName="empFileNo" maxlength="50"
                    required>
                  <mat-hint class="hintalign">{{personalForm.get('empFileNo').value?.length || 0}}/50
                  </mat-hint>
                  <mat-error *ngIf="submitted && personalForm.get('empFileNo')?.errors?.required">
                    {{'Employee File Number is required'}}</mat-error>
                </div>
                <div class="section-b col">
                  <mat-label>Employee File Gist<span class="required">*</span></mat-label>
                  <input class="input" type="text" name="Search" matInput formControlName="empFileGist" maxlength="50">
                  <mat-hint class="hintalign">{{personalForm.get('empFileGist').value?.length || 0}}/50
                  </mat-hint>
                  <mat-error *ngIf="submitted && personalForm.get('empFileGist')?.errors?.required">
                    {{'Employee File Gist is required'}}</mat-error>
                </div>  
              </div>
              <div class="row">
                <div class="section-b col">
                  <mat-label>File Status<span class="required">*</span></mat-label>
                  <input class="input" type="text" name="Search" matInput formControlName="fileSts" maxlength="50"
                    required>
                  <mat-hint class="hintalign">{{personalForm.get('fileSts').value?.length || 0}}/50
                  </mat-hint>
                  <mat-error *ngIf="submitted && personalForm.get('fileSts')?.errors?.required">
                    {{'Cadre Name is required'}}</mat-error>
                </div>
                <div class="section-b col-6">
                  <mat-label > Type of Disposal<span class="required">*</span></mat-label>
                  <input class="input" type="text" name="Search" matInput formControlName="typOfDis" maxlength="50"
                    required>
                  <mat-error *ngIf="submitted && personalForm.get('typOfDis')?.errors?.required">{{'Type of Disposal is
                    required'}}</mat-error>
                </div>
  
              </div>
              <div class="row">
                <div class="section-b col">
                  <mat-label >File Disposal date <span class="required">*</span></mat-label>
                  <input class="input" type="text" name="Search" matInput formControlName="fileDisDat" maxlength="50"
                    required>
                  <mat-hint class="hintalign">{{personalForm.get('fileDisDat').value?.length || 0}}/50
                  </mat-hint>
                  <mat-error *ngIf="submitted && personalForm.get('fileDisDat')?.errors?.required">
                    {{'File Disposal date is required'}}</mat-error>
                </div>
                 
              </div>
             

              <div class="row">               
                
                <div class="disflex">
                    <button mat-flat-button color="warn">{{'Discard' | uppercase}}</button>
                    <button mat-flat-button color="primary" type="submit">{{'Save' |
                      uppercase}}</button>
        
                  </div>
  
              </div>
              
            </form>
  
          </div>
        </mat-tab>
  
      </mat-tab-group>
    </div>
  </div>

