<div class="container">
    <div class="card-title">
      <i class="fa fa-arrow-left" style="font-size:20px;cursor: pointer;" routerLink="/emp-nomini/list"></i>&nbsp;&nbsp;
      <h4 style="padding:0px !important ;margin:0px !important;font-weight: 600">{{'Go Back'| uppercase}}</h4>
    </div>
  
    <div>
      <mat-tab-group class="remove-border-bottom">
        <mat-tab label="Employee Nominee">
          <div class="card">
            <div class="card-title" style="display: flex;justify-content: center;">
              <!-- <h2 style="padding:0px !important ;margin:0px !important;font-weight: 600;color: #a29b9b;">{{'Direct Recruitment'|
                uppercase}}</h2> -->
            </div>
  
            <form [formGroup]="personalForm">
  
              <div class="row">
                <div class="section-b col-md-6">
                  <mat-label>Employee Id<span class="required">*</span></mat-label>
                  <input class="input" type="text" name="Search" matInput formControlName="empId" maxlength="50" required>
                 
                  <mat-error *ngIf="submitted && personalForm.get('empId')?.errors?.required">
                    {{'Employee Id is required'}}</mat-error>
                </div>
                
  
              </div>
              <div class="row">
                <div class="section-b col-md-6">
                  <mat-label > Employee Name <span class="required">*</span></mat-label>
                  <div class="input-container">
                    <input class="input" type="text" name="Search" matInput formControlName="empName" >
                  </div>
                    <mat-option *ngFor="let row of types" [value]="row">{{row}}</mat-option>                
                  <mat-error *ngIf="submitted && personalForm.get('datOfDeath')?.errors?.required">
                    {{'Employee Name is required'}}</mat-error>
                </div>
                
  
              </div>
              <div class="row">
                <div class="section-b col">
                    <mat-label> Cadre Code <span class="required">*</span></mat-label>
                    <div class="input-container">
                    <input class="input" type="text" name="Search" matInput formControlName="cadCode" >
                    </div>
                      <mat-option *ngFor="let row of types" [value]="row">{{row}}</mat-option>
                      <mat-error *ngIf="submitted && personalForm.get('cadCode')?.errors?.required">
                      {{'Cadre Code is required'}}</mat-error>
                  </div> 
                <div class="section-b col">
                    <mat-label > Cadre Name <span class="required">*</span></mat-label>
                    <input class="input" type="text" name="Search" matInput formControlName="cadName" maxlength="50">
                    <mat-option *ngFor="let row of types" [value]="row">{{row}}</mat-option>
                    <mat-error *ngIf="submitted && personalForm.get('cadName')?.errors?.required">{{' Cadre Name is
                      required'}}</mat-error>
                  </div>
  
              </div>
              <div class="row">
                <div class="section-b col">
                  <mat-label> Date of Birth <span class="required">*</span></mat-label>
                  <input class="input" type="date" id="dat" name="dat" matInput formControlName="dob">
                  
                  <mat-error *ngIf="submitted && personalForm.get('dob')?.errors?.required">
                    {{'Date of Birth is required'}}</mat-error>
                </div>
               

                <div class="section-b col">
                    <mat-label> Date of Joining <span class="required">*</span></mat-label>
                    <input class="input" type="date" id="dat" name="dat" matInput formControlName="doJ">
                    
                    <mat-error *ngIf="submitted && personalForm.get('doJ')?.errors?.required">
                      {{'Date of Joining is required'}}</mat-error>
                  </div>
                 
              </div>
            
              <div class="container-box">
              <div class="row">
                <div class="section-b col">
                    <mat-label> Mode of Nominee <span class="required">*</span></mat-label>
                      <div class="input-container">
                    <mat-select multiple [(value)]="selectedStatus" (selectionChange)="applyTypeFilter()">
                        <input class="input m-3" (keyup)="applyFilter($event.target.value)" type="text" name="Search"
                      placeholder="Nominee Mode">
                        <mat-option *ngFor="let row of status" [value]="row.value">{{row.status}}</mat-option>
                      </mat-select>
                    </div>
                   
                    <mat-error *ngIf="submitted && personalForm.get('nominMod')?.errors?.required">
                      {{'Mode of Nominee is required'}}
                    </mat-error>
                  </div>

                 <div class="section-b col">
                    <mat-label> Name of Nominee <span class="required">*</span></mat-label>
                    <div class="input-container">
                      <input class="input" type="text" name="Search" matInput formControlName="nominiName" maxlength="50">
                      <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
                    </div>
                    
                    <mat-error *ngIf="submitted && personalForm.get('nominiName')?.errors?.required">
                      {{'Name of Nominee is required'}}
                    </mat-error>
                  </div>

  
              </div>


              <div class="row">
                <div class="section-b col">
                    <mat-label> Relationship with Employee <span class="required">*</span></mat-label>
                      <div class="input-container">
                    <mat-select multiple [(value)]="selectedStatus" (selectionChange)="applyTypeFilter()">
                        <input class="input m-3" (keyup)="applyFilter($event.target.value)" type="text" name="Search"
                      placeholder="Nominee Mode">
                        <mat-option *ngFor="let row of status" [value]="row.value">{{row.status}}</mat-option>
                      </mat-select>
                    </div>
                   
                    <mat-error *ngIf="submitted && personalForm.get('nominMod')?.errors?.required">
                      {{'Mode of Nominee is required'}}
                    </mat-error>
                  </div>
               

                <div class="section-b col">
                    <mat-label> Age of Nominee <span class="required">*</span></mat-label>
                    <div class="input-container">
                      <input class="input" type="text" name="Search" matInput formControlName="remarks" maxlength="50">
                      <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
                    </div>
                    <mat-error *ngIf="submitted && personalForm.get('remarks')?.errors?.required">
                      {{'Remarks is required'}}
                    </mat-error>
                  </div>
              </div>

              <div class="row">
                <div class="section-b col">
                    <mat-label> Share % of DCRG <span class="required">*</span></mat-label>
                    <div class="input-container">
                      <input class="input" type="text" name="Search" matInput formControlName="sharOfDcrg" maxlength="50">
                      <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
                    </div>
                    
                    <mat-error *ngIf="submitted && personalForm.get('sharOfDcrg')?.errors?.required">
                      {{'Share % of DCRG is required'}}
                    </mat-error>
                  </div>


                  <div class="section-b col">
                    <mat-label> Name of Nominee <span class="required">*</span></mat-label>
                    <div class="input-container">
                      <input class="input" type="text" name="Search" matInput formControlName="nominiName" maxlength="50">
                      <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
                    </div>
                    
                    <mat-error *ngIf="submitted && personalForm.get('nominiName')?.errors?.required">
                      {{'Name of Nominee is required'}}
                    </mat-error>
                  </div>

              </div>

            </div>
              <div class="row">               
                
                <div class="disflex">
                    <button mat-flat-button color="warn">{{'Discard' | uppercase}}</button>
                    <button mat-flat-button color="primary" type="submit">{{'Save' |
                      uppercase}}</button>
        
                  </div>
  
              </div>

              <div class="row">               
                
                <div class="section-b col-md-6">
                    <h4>Disclaimer :</h4>
        
                  </div>
  
              </div>

              
            </form>
  
          </div>
        </mat-tab>
  
      </mat-tab-group>
    </div>
  </div>

